<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="outline" style="float: left;" [routerLink]="['/login']">Volver</ion-button>
    <ion-title>Bienvenido profesor {{userHome}}</ion-title>
    <ion-card-subtitle>{{tituloUno}}</ion-card-subtitle>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 style="margin-left: 10px; margin-top: 10px;">Secciones</h2>
  <ion-button fill="outline" (click)="Mostrar()">Mostrar</ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Programación web</ion-card-title>
      <ion-card-subtitle>PGY1331-16D</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="outline" style="float: right;" [routerLink]="['/seccion']">Abrir</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Arquitectura</ion-card-title>
      <ion-card-subtitle>PGY1331-69D</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="outline" style="float: right;">Abrir</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Calidad de software</ion-card-title>
      <ion-card-subtitle>PGY1331-06D</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="outline" style="float: right;">Abrir</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Programación de base de datos</ion-card-title>
      <ion-card-subtitle>PGY1331-36D</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="outline" style="float: right;">Abrir</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Proceso de portafolio</ion-card-title>
      <ion-card-subtitle>PGY1331-24D</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="outline" style="float: right;">Abrir</ion-button>
  </ion-card>
</ion-content>