<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button fill="outline" style="float: left;" [routerLink]="['/home']">Volver</ion-button>
    <ion-title>Programación web</ion-title>
    <ion-title>PGY1331-16D</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content color="light">
    <img src="../../assets/qrcode_76172435_010f5f80bfb7ef8ba987f68c4724df73.png" alt="Login Image" class="login-image"
      width="210px" height="210px" style="margin-top: 10px; margin-left: 25%;">
    <h2 style="margin-left: 10px; margin-top: 10px;">Alumnos</h2>
    <ion-list [inset]="true">
      <ion-item>
        <ion-checkbox>Benjamon Libros</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox>Francis Wilker</ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-checkbox>Tapir Jones</ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button id="open-toast" expand="block">Guardar lista</ion-button>
    <ion-toast trigger="open-toast" message="La lista ha sido guardada" [duration]="5000"></ion-toast>
  </ion-content>
</ion-content>